:root {
    --color-primary-100: #FFF;
    --color-primary-200: #EAE7DC;
    --color-primary-300: #D8C3A5;
    --color-primary-400: #8E8D8A;
    --color-primary-600: #E98074;
    --color-primary-700: #E85A4f;
}

* {
    box-sizing: border-box;
}

body {
    margin: auto;
}
.container{
    background-color: var(--color-primary-200);
}

.all-sections{
    max-width: 92rem;
    margin: 0 auto;
    float: none;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Abril Fatface', serif;
   }

footer {
    margin: 0;
    background-color: var(--color-primary-300);
    text-align: center;
}

footer p{
    margin: 0;
}

section {
    padding: 1rem;
}

.section-foto{
    text-align: center;
}

img{
    width: 100%;
    max-width: 25rem;
    height: auto;
}

/*+++++++++++++++ header, navbar */

.header-div {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
header{
    background-color: var(--color-primary-300);
    position: sticky;
}

#header-content {
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    flex: auto;
}

h1 {
    margin: 0;
    padding: 0;
    flex: 50%;
}

nav {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding-bottom: 0.5rem;
}

li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
}

.navbar-content {
    display: none;
}

.show-navbar {
    display: inline;
}

.logo{
    text-align: center;
    flex: auto;
}

.logo:hover{
    cursor: pointer;
}
ul{
    padding-left: 2rem;
}

@media only screen and (min-width: 800px) {
    .header-div {
        display: flex;
        flex-direction: row;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    header{
        position: sticky;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #header-content{
        padding-left: 5%;
    }

    h1 {
        text-align: left;
        flex: 50%;
    }

    nav {
        text-align: right;
        flex: auto;
        display: inline;
        padding: 0.5rem;
    }

    .navbar-content {
        display: inline;
    }

    nav ul li {
        display: inline;
        padding: 1rem;
        border-radius: 1rem;
    }

    li a:hover::before{
        content: "";
        background-color: var(--color-primary-700);
        width: 100%;
        height: 15%;
        position: absolute;
        animation-name: navbar-animation;
        animation-duration: 0.5s;
    }
    li a:hover{
        color: var(--color-primary-700);
        transition: 0.5s;
    }
    nav ul li a {
        font-size: 1.3rem;
        position: relative;
    }

    #menu-checkbox {
        display: none;
    }

    path {
        display: block;
    }

    .split {
        display: flex;
        text-align: left;
    }

    .section-text {
        flex: 50%;
        padding-left: 5%;
    }

    .section-text p {
        max-width: 50rem;
    }

    .section-foto {
        flex: 50%;
        text-align: right;
        padding-right: 1.5rem;
    }
    .section-text-info{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    /*+++++++++++ navbar color that shows the page you are at*/
    
    #info{
        color: var(--color-primary-700);
    }
}

@media only screen and (max-width: 799px){
    li a{
        border-bottom: solid;
    }
    #info{
        color: var(--color-primary-700);
    }
}

@keyframes navbar-animation{
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}